<div class="container text-center">
    <%= image_tag @post.get_image, id: 'image', class: 'img-fluid d-block mx-auto mb-5' %>
    <div class="row ">
        <div class="col-md-4">カメラメーカー</div>
        <div class="col-md-8" id="maker"></div>
    </div>
    <div class="row">
        <div class="col-md-4">カメラモデル</div>
        <div class="col-md-8" id="model"></div>
    </div>
    <div class="row">
        <div class="col-md-4">カメラレンズ</div>
        <div class="col-md-8" id="lens"></div>
    </div>
    <div class="row">
        <div class="col-md-4">撮影日時</div>
        <div class="col-md-8" id="datetime"></div>
    </div>
    <div class="row">
        <div class="col-md-4">元画像サイズ(横)</div>
        <div class="col-md-8" id="width"></div>
    </div>
    <div class="row">
        <div class="col-md-4">元画像サイズ(縦)</div>
        <div class="col-md-8" id="height"></div>
    </div>
    <div class="row">
        <div class="col-md-4">元画像サイズ(単位)</div>
        <div class="col-md-8" id="unit"></div>
    </div>
    <div class="row">
        <div class="col-md-4">ISO感度</div>
        <div class="col-md-8" id="iso"></div>
    </div>
    <div class="row">
        <div class="col-md-4">焦点距離</div>
        <div class="col-md-8" id="focal_length"></div>
    </div>
    <div class="row">
        <div class="col-md-4">露出補正</div>
        <div class="col-md-8" id="exposure_time"></div>
    </div>
    <div class="row">
        <div class="col-md-3">シャッタースピード</div>
        <div class="col-md-9" id="shutter_speed_value"></div>
    </div>
    <div class="row">
        <div class="col-md-3">絞り</div>
        <div class="col-md-9" id="aperture_value"></div>
    </div>
    <div class="row">
        <div class="col-md-3">ソフトウェア</div>
        <div class="col-md-9" id="software"></div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>

<script>
$(document).ready(function(){
  let img = document.getElementById("image");
  EXIF.getData(img, function() {
      let exif = EXIF.getAllTags(this);

      // console.log(exif);

      $('#maker').text(exif.Make);
      $('#model').text(exif.Model);
      $('#lens').text(exif.LensMake);
      $('#datetime').text(exif.DateTimeOriginal);
      $('#width').text(exif.PixelXDimension)
      $('#height').text(exif.PixelYDimension)

      switch (exif.FocalPlaneResolutionUnit) {
        case 2:
          $('#unit').text('インチ')
          break;
        case 3:
          $('#unit').text('センチメートル')
          break;
        default:
          $('#unit').text('判定不能')
      }

      $('#iso').text(exif.ISOSpeedRatings)
      $('#focal_length').text(exif.FocalLength)
      $('#exposure_time').text(exif.ExposureTime)
      $('#shutter_speed_value').text(exif.ShutterSpeedValue)
      $('#aperture_value').text(exif.ApertureValue)
      $('#software').text(exif.Software)
    });
});
</script>