  <div class="container text-center">
    <div class= "row m-5">
      <div class="col-12">
        <img src= <%= image_path('marker.jpg') %> alt= "" class= "marker-image">
        <h1><strong>Photo Clipとは</strong></h1>
          <p class= mb-4>
            「目当ての被写体を探しに出かけたくなる」がテーマの写真検索、投稿サイトです。<br>
            マップ上からの撮影スポットの検索や撮影した写真の場所を<br>
            マップ上に記録できるのが特徴です。
          </p>

          <img src= <%= image_path('map-sample.png') %> alt= "" class= "about-map">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
         <img src= 'assets/marker.jpeg' alt= "" class= "marker-image">
        <h2 class="pt-5"><strong>Photo Clip にできること</strong></h2>
      </div>
    </div>

    <div class= "row m-5">
     <div class= "about-wrap m-5">

       <div class="col-lg-4 item">
         <h3 class= "mb-5">探す</h3>
          <p>
            トップまたはマップページの検索画面やマップ上のピンから、
            撮影スポットの検索ができます。（ピンをクリックすると投稿画像が表示されます）
            被写体探しで悩んでいる時や、
            どこで何を撮ったらいいか分からない時に
            マップ上から直感で写真を探す事が出来ます。
            キーワードやタグの検索もできるので
            その日の気分で新しい被写体を見つけてみて下さい。
          </p>
       </div>
       <div class= "col-lg-4 item">
          <h3 class= "pb-5">記録する</h3>
          <p>
            自分が撮影したお気に入りの写真の投稿や、
            カメラ機材のexif情報や場所の詳細を記録し（GPS情報は記載されません）
            マップピンで表示することが出来ます。
            また、公開、非公開機能を使い分けることで他のユーザーに見てもらえたり
            自分だけの記録用としても使用できるので自分のスタイルに合った
            使い方ができます。
            また、沢山のタグをつけることで同様の投稿をする
            ユーザーにも見つけてもらいやすくなります。
          </p>
       </div>
       <div class= "col-lg-4 item">
          <h3 class= "pb-5">交流する</h3>
          <p>
            気になったユーザーの投稿にいいねをつけて次に撮影する場所として登録したり、
            コメントをつけて他のユーザーと交流することもできます。
            お互いに感想を言い合い交流することで撮影のモチベーションが上げたり
            カメラ機材について意見交換をしたり色々な情報を共有する事が出来ます。
          </p>
       </div>
       <div class="col-12">
          <%= link_to "登録する", new_user_registration_path, class: "btn btn-outline-success mr-5 mt-5" %>
       </div>
      </div>
    </div>
  </div>