<h3>ジャンルから探す</h3>

<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>

<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>

<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
