<h3>ジャンルから探す</h3>
<% @genres.each do |genre| %>
  <%= genre.name %>
<% end %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>

<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>

<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
<%#= image_tag '' %>
