<div class= "row mt-5">
    <div class="col-12">
      <div class= "row mt-5">
    <div class="col-12">
      <div class="likes_buttons">
        <% if user_signed_in? %>
          <% if current_user.favorited_by?(@post.id) %>
            <%= link_to post_favorites_path(@post.id), method: :delete, remote: true do %>
            <p class="like-button">
              <i class="fas fa-heart fa-2x" style="color: #e82a2a;"></i>
              <span style="color: #e82a2a"><%= @article.likes.count %></span>
            </p>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(@post.id), method: :post, remote: true do %>
            <p class="like-button"><i class="far fa-heart fa-2x" style="color: #e82a2a;"></i>
              <span style="color: #e82a2a"><%= @article.likes.count %></span>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
