<div class="container">

  <h3>マイページ</h3>
  <div class= "row m-3">
  <%= image_tag @user.get_profile_image(200,200) %><br>
    <table class="table">
      <tbody>
        <th>ユーザー名:</th>
        <td> <%= @user.name %></td>
        <th>自己紹介:</th>
        <td><%= @user.introduction %></td>
      </tbody>
    </table>
  </div>
</div>